*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* inizio navbar */


.navbar-light .navbar-nav .nav-link.active{
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color:white;
}
.navbar-light .navbar-brand{
    color:white;
}
nav{
    background-color: rgb(61, 61, 163);
}





/* hover nav */


/* fine navbar */

/* inizio header */
.row-header{
    overflow: hidden;
    
    background-color: rgb(80, 193, 231);
}
.avatar{
    height: 150px;
}
.title{
    color: white;
    
}
.player-bar{
    width:70px;
    height:2px;
    border-radius:4px;
    background-color:white;
    cursor:pointer;
    margin:0 10px
}
.star{
    color:white;
}
.graphic{
    color:white;
    font-size: 12px;
    margin-top: 2%;
    margin-bottom:3%
}
/* fine header */

/* inizio main */
/* inizio sezione foto del main */

.player-bar-main{
    width:70px;
    height:2px;
    border-radius:4px;
    background-color:black;
    cursor:pointer;
    margin:0 10px;
    vertical-align: middle;
}
.star-main{
    color:black;
}

.cartoline{
    height: 100%;
    width:100%;
    

}
.sezione-immagini{
   
    max-width: 80%;
    margin: auto; 
}


/* inizio sezione about del main */

.about{
    background-color: rgb(68, 178, 247);
    color: white;
    padding:30px 0;
    
}


.player-bar-about{
    width:70px;
    height:2px;
    border-radius:4px;
    background-color: white;
    cursor:pointer;
    margin:0 10px;
    vertical-align: middle;
}
.title-about{
    color
}

.text-about{
    max-width:70%;
    font-size:14px;
}
.download{
    text-align: center;
    width: 100px;
    margin:auto;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;
     
    border: 1px solid white;
    
}
.download:hover{
    opacity: 0.5;
}

/* inizio sezione contatti del main */

.player-bar-contatti{
    width:70px;
    height:2px;
    border-radius:4px;
    background-color: black;
    cursor:pointer;
    margin:0 10px;
    vertical-align: middle;
}
.star-contatti{
    color:black;
}
.contact-me{
    text-align: center;
    overflow: hidden;
    

}
.rettangolo{
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.invio{
    background-color:lightgreen;
    width: 9%;
    text-align: center;
    margin-top: 10px;
    padding: 3px;
    border-radius: 5px;
    color: white;
}


/* inizio footer */
.footer-box{
    max-width: 80%;
    margin:auto;
    color: white;
    
    
}
.footer-container{
    padding:0;
}
.footer-top{
    background-color: rgb(32, 32, 121);
    
}
.footer-end{
    background-color: rgb(24, 24, 66);
    color: white;
}
.footer-end{

}
h5{
    overflow: hidden;
}