*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* inizio navbar */

.row-navbar{
height: 50px;
background-color:lightblue;
line-height:50px;
}
.nav-text{
    display: flex;
    justify-content: space-around;
    color: gray;
}
.start{
    cursor: pointer;
}
.lista{
    display:flex;
    list-style: none;
    font-size: 12px;
}
.lista li{
    cursor: pointer;
}

/* hover nav */
.lista li:hover{
    color: black;
}
.start:hover{
    color: black;
}

/* fine navbar */

/* inizio header */
.row-header{
    
    background-color: rgb(18, 190, 18);
}
.avatar{
    height: 150px;
}
.title{
    color: white;
    
}
.player-bar{
    width:70px;
    height:2px;
    border-radius:4px;
    background-color:white;
    cursor:pointer;
    margin:0 10px
}
.star{
    color:white;
}
.graphic{
    color:white;
    font-size: 12px;
    margin-top: 2%;
    margin-bottom:3%
}
/* fine header */

/* inizio main */

.player-bar-main{
    width:70px;
    height:2px;
    border-radius:4px;
    background-color:black;
    cursor:pointer;
    margin:0 10px;
    vertical-align: middle;
}
.star-main{
    color:black;
}

.cartoline{
    height: 100%;
    width:100%;
    

}
.sezione-immagini{
   
    max-width: 80%;
    margin: auto; 
}